.media {
  &__title {
    text-align: center;
    font-size: 50px;
    margin-top: 6%;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
  }

  &__overlay {
    width: 101%;
    object-fit: cover;
    display: inline-block;
    position: relative;
    line-height: 0;
    transition: linear .4s;

    &:hover {
      transform: scale(1.03);
    }

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(110, 16, 94, 0.25);
      opacity: 0.8;
      transition: linear .4s;
    }
  }

  &__svg {
    position: absolute;
    top: 41%;
    left: 44%;
  }

  &__img {
    width: 99%;
    height: 100%;
    object-fit: none;
  }

  &__img2 {
    height: 100%;
  }
}

.media__overlay:hover:after {
  transform: scale(1);
  height: 0;
  opacity: 0;
}

@media (max-width:576px) {
  .media {
    &__title {
      font-size: 30px;
    }

    &__svg {
      top: 30%;
    }

    &__block {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}
